@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=Overpass&display=swap');



.profileBox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #EAEAEA ;
    width: 304px;
    height: 96px;
    border-radius: 32px;
    margin-bottom: 30px;
    }
    
    .userPhoto {
    padding: 10px;
    
    }
    .userInfo {
        padding: 15px;
    }
    
    .userName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    
    }
    
    .userEmail{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6D6D78;
    
    
    
    
    }
    .userArrow {
    margin-top: 27px;
    margin-left:20px
     
     
    }
    