.notifContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 32px;
  width: 390px;
  height: 168px;
  margin-top: 32px;
}

.notifText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 55px;
  color: #6d6d78;
  width: 254px;
  height: 48px;
}

.notifTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-left: 60px;
  margin-top: 30px;
  color: #172239;
  width: 254px;
  height: 32px;
}

.notifIcon {
  left: 20px;
  top: 18px;
  position: relative;
}

.coursesFrame,
.achievementFrame,
.purchaseFrame,
.messagesFrame {
  width: 64px;
  height: 64px;
  border-radius: 100%;

  left: 30px;
  top: 30px;
  position: relative;
}

.coursesFrame {
  background-color: #ffdfd6;
}

.achievementFrame {
  background-color: #52c3ff;
}

.purchaseFrame {
  background-color: #ffcb57;
}

.messagesFrame {
  background-color: #fc77a0;
}
