@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=Overpass&display=swap");

.selectedButton,
.unselectedButton {
  border-radius: 40px;
  width: 80px;
  height: 130px;
  background-color: #ffff;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.selectedButton {
  border: 2px solid #52c3ff;
}
.unselectedButton {
  border: 1px solid #eaeaea;
}

.selectedCircle,
.unselectedCircle {
  border: 1px solid #eaeaea;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-top: 10px;
}

.selectedCircle {
  background-color: #52c3ff;
}

.categoryText {
  position: relative;
  text-align: center;
}

.categoryIcon {
  top: 18px;
  position: relative;
}

.selectedText,
.unselectedText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

.selectedText {
  color: #172239;
}

.unselectedText {
  color: #6d6d78;
}
