@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=Overpass&display=swap');

.selectedNav{
    background-color: #FFDFD6;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #172239;
    
    }
    .unselectedNav {
    background-color: #ffff;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #6D6D78;

    }

    

    .selectedNav,.unselectedNav {
    margin: 16px 10px 0px 25px;
    padding: 10px 6px 0px 10px;
    width: 240px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
   

    }

    .navMenuText {
        margin-left:12px ;
        margin-top: 3px;

    }