@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=Overpass&display=swap");

.authButton {
  display: flex;
  text-align: center;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background-color: #ffff;
  width: 280px;
  height: 70px;
  border-radius: 32px;
  padding-left: 90px;
  padding-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172239;
  top: 110px;
  position: relative;
}
